# Episode 1
This episode covers accessing GAIA tables

In [1]:
import numpy as np

from astroquery.gaia import Gaia

In [2]:
tables = Gaia.load_tables(only_names=True)

#for table in tables:
#    print(table.name)

INFO: Retrieving tables... [astroquery.utils.tap.core]
INFO: Parsing tables... [astroquery.utils.tap.core]
INFO: Done. [astroquery.utils.tap.core]

We're interested in data from the `gaiadr2` (GAIA Release 2), since this is the data that the paper was based on.

In [3]:
table_metadata = Gaia.load_table('gaiadr2.gaia_source')
#print(table_metadata)

In [4]:
#for col in table_metadata.columns:
#    print(col.name)

### Exercise 1.1 
One of the other tables we will use is `gaiadr2.panstarrs1_original_valid`. Use `load_table` to get the metadata for this table. How many columns are there and what are their names?

In [5]:
panstarr_metadata = Gaia.load_table('gaiadr2.panstarrs1_original_valid')
#print(panstarr_metadata)
#for col in panstarr_metadata.columns:
#    print(col)

## Writing queries

In [6]:
query1 = """
SELECT
TOP 10
source_id, ra, dec, parallax
FROM gaiadr2.gaia_source
"""

job1 = Gaia.launch_job(query1)
results1 = job1.get_results()
results1

<Table length=10>
     SOURCE_ID              ra                 dec               parallax
                           deg                 deg                 mas
       int64             float64             float64             float64
------------------- ------------------ ------------------- --------------------
4072620382462406400 280.36930595244434  -27.11294799301091  -0.1608601852817413
4072620451181983488  280.3457905347452 -27.097042270159324 -0.04683583134536961
4072613544896907904  279.9175849274292 -27.307994025090096   0.0439402761575689
4072619351674380416 280.21896424792584  -27.14953384606078                   --
4072611655085936256  280.1694140910743 -27.264003560462235   0.7896362667704776
4072617010885889280  280.0233876717479   -27.1582343552404  0.19965310754334317
4072611242769242240 280.08900827084165 -27.317867526355144  -1.3901931154812266
4072615056701979648 279.89695141334727 -27.241686410694214                   --
4072608390913619072   280.350173300496 -27.168878472279054                   --
4072609078110618624 280.01204351193377 -27.396897849902253                   --

In [7]:
query2 = """
SELECT
TOP 3000
source_id, ra, dec, parallax, pmra, pmdec
FROM gaiadr2.gaia_source
WHERE parallax < 1
"""

job2 = Gaia.launch_job_async(query2)
results2 = job2.get_results()
results2

INFO: Query finished. [astroquery.utils.tap.core]

<Table length=3000>
     SOURCE_ID              ra         ...        pmdec
                           deg         ...       mas / yr
       int64             float64       ...       float64
------------------- ------------------ ... --------------------
4072620382462406400 280.36930595244434 ...   -4.245527444455235
4072620451181983488  280.3457905347452 ...  -3.2488450327089042
4072613544896907904  279.9175849274292 ...   -6.326607274944567
4072611655085936256  280.1694140910743 ...  -3.8458604249077286
4072617010885889280  280.0233876717479 ...  -2.3644917912232657
4072611242769242240 280.08900827084165 ...   -2.092537549938166
4072610246337496832   279.962248387404 ...    -1.43765898750265
4072609284263859072  280.0528969435746 ...   -7.926534087430168
4072610929234571648  280.0936215540233 ...   -7.521510268623399
                ...                ... ...                  ...
3341042827491787136  82.55189831772611 ...   -3.569855997479318
3341157215356309888  84.84717637307261 ...  -0.6177323789065918
4072611307201716864 280.11794940186314 ...   -5.795068089928209
4072614713104230400  279.9345838528962 ...  -1.7396846818133969
4072622199239259264 280.07339195382787 ... -0.22850103593274698
4072612376641078400 280.06852954570104 ...   -2.518568090341851
4072610173297618304  279.9656409342848 ...  -5.2742495892195045
4072610693014100608 279.99557760618336 ...   2.6389476897904904
5870529869049618432 207.19523845294748 ...  -1.9743988825476162

### Exercise 1.2
The clauses in a query have to be in the right order. Go back and change the order of the clauses in query2 and run it again. The modified query should fail, but notice that you don’t get much useful debugging information.

For this reason, developing and debugging ADQL queries can be really hard. A few suggestions that might help:

- Whenever possible, start with a working query, either an example you find online or a query you have used in the past.

- Make small changes and test each change before you continue.

- While you are debugging, use TOP to limit the number of rows in the result. That will make each test run faster, which reduces your development time.

- Launching test queries synchronously might make them start faster, too.

In [8]:
#query2_wrong = """
#SELECT
#WHERE parallax < 1
#TOP 3000
#source_id, ra, dec, parallax, pmra, pmdec
#FROM gaiadr2.gaia_source
#"""

#job2_wrong = Gaia.launch_job_async(query2_wrong)
#results2_wrong = job2_wrong.get_results()
#results2_wrong

### Exercise 1.3
Read about SQL operators here and then modify the previous query to select rows where `bp_rp` is between `-0.75` and `2`.

In [9]:
query3 = """
SELECT 
   TOP 10
       source_id, ra, dec, parallax, pmra, pmdec
  FROM gaiadr2.gaia_source
 WHERE parallax < 1 
   AND bp_rp BETWEEN -0.75 AND 2.0
"""

job3 = Gaia.launch_job_async(query3)
results3 = job3.get_results()
results3

INFO: Query finished. [astroquery.utils.tap.core]

<Table length=10>
     SOURCE_ID              ra         ...        pmdec
                           deg         ...       mas / yr
       int64             float64       ...       float64
------------------- ------------------ ... -------------------
5870533206299171072 206.80233764865108 ... -0.3136955353181985
5870510735027838720   208.141522870855 ... -3.7941983827032795
5870529422378632832 207.18191325273327 ... -0.5474825843792823
5870539631532283904 207.03221754773077 ... -1.6228132591798095
5870528498972617216 207.24465653812356 ... -1.6442339765338705
5870527777417786496 207.08677856275793 ...  -3.097884184604517
2030343053586096896  299.2411195465511 ...  -4.157478516901599
2030342164557604736 299.12866789519524 ... -13.991605717067271
2030371885712483840 298.21337990674095 ...  -7.583568572510641
2030368277939180672  298.2631650465599 ...  -7.540319245383887

In [10]:
columns = 'source_id, ra, dec, parallax, pmra, pmdec'

query3_base = """
SELECT TOP 10
{columns}
  FROM gaiadr2.gaia_source
 WHERE parallax < 1 
   AND bp_rp BETWEEN -0.75 AND 2.0
"""

query3 = query3_base.format(columns=columns)
job3 = Gaia.launch_job_async(query3)
results3 = job3.get_results()
results3

INFO: Query finished. [astroquery.utils.tap.core]

<Table length=10>
     SOURCE_ID              ra         ...        pmdec
                           deg         ...       mas / yr
       int64             float64       ...       float64
------------------- ------------------ ... -------------------
5870533206299171072 206.80233764865108 ... -0.3136955353181985
5870510735027838720   208.141522870855 ... -3.7941983827032795
5870529422378632832 207.18191325273327 ... -0.5474825843792823
5870539631532283904 207.03221754773077 ... -1.6228132591798095
5870528498972617216 207.24465653812356 ... -1.6442339765338705
5870527777417786496 207.08677856275793 ...  -3.097884184604517
2030343053586096896  299.2411195465511 ...  -4.157478516901599
2030342164557604736 299.12866789519524 ... -13.991605717067271
2030371885712483840 298.21337990674095 ...  -7.583568572510641
2030368277939180672  298.2631650465599 ...  -7.540319245383887

### Exercise 1.4
This query always selects sources with parallax less than `1`. But suppose you want to take that upper bound as an input.

Modify `query3_base` to replace `1` with a format specifier like `{max_parallax}`. Now, when you call format, add a keyword argument that assigns a value to `max_parallax`, and confirm that the format specifier gets replaced with the value you provide.

In [11]:
q4_columns = 'source_id, ra, dec, parallax, pmra, pmdec'
q4_max_parallax = 1

q4 = """
SELECT TOP 10
{columns}
FROM gaiadr2.gaia_source
WHERE parallax < {max_parallax}
AND bp_rp BETWEEN -0.75 and 2
"""

query4 = q4.format(columns=q4_columns, max_parallax=q4_max_parallax)
job4 = Gaia.launch_job_async(query4)
results4 = job4.get_results()
results4

INFO: Query finished. [astroquery.utils.tap.core]

<Table length=10>
     SOURCE_ID              ra         ...        pmdec
                           deg         ...       mas / yr
       int64             float64       ...       float64
------------------- ------------------ ... -------------------
5870533206299171072 206.80233764865108 ... -0.3136955353181985
5870510735027838720   208.141522870855 ... -3.7941983827032795
5870529422378632832 207.18191325273327 ... -0.5474825843792823
5870539631532283904 207.03221754773077 ... -1.6228132591798095
5870528498972617216 207.24465653812356 ... -1.6442339765338705
5870527777417786496 207.08677856275793 ...  -3.097884184604517
2030343053586096896  299.2411195465511 ...  -4.157478516901599
2030342164557604736 299.12866789519524 ... -13.991605717067271
2030371885712483840 298.21337990674095 ...  -7.583568572510641
2030368277939180672  298.2631650465599 ...  -7.540319245383887

## Summary
This episode has demonstrated the following steps:

1. Making a connection to the Gaia server,

1. Exploring information about the database and the tables it contains,

1. Writing a query and sending it to the server, and finally

1. Downloading the response from the server as an Astropy Table.

1. In the next episode we will extend these queries to select a particular region of the sky.

Key Points
- If you can’t download an entire dataset (or it is not practical) use queries to select the data you need.
- Read the metadata and the documentation to make sure you understand the tables, their columns, and what they mean.
- Develop queries incrementally: start with something simple, test it, and add a little bit at a time.
- Use ADQL features like TOP and COUNT to test before you run a query that might return a lot of data.
- If you know your query will return fewer than 3000 rows, you can run it synchronously. If it might return more than 3000 rows, you should -run it asynchronously.
- ADQL and SQL are not case-sensitive. You don’t have to capitalize the keywords, but it will make your code more readable.
- ADQL and SQL don’t require you to break a query into multiple lines, but it will make your code more readable.
- Make each section of the notebook self-contained. Try not to use the same variable name in more than one section.
- Keep notebooks short. Look for places where you can break your analysis into phases with one notebook per phase.